/*
 * Copyright (c) 2026 Texas Instruments Incorporated
 *
 * SPDX-License-Identifier: Apache-2.0
 */

#include "am13e.dtsi"

/ {
	#address-cells = <1>;
	#size-cells = <1>;

	soc {
		sram0_1_2: memory@20000000 {
			compatible = "zephyr,memory-region";
			reg = <0x20000000 DT_SIZE_K(96)>;
			zephyr,memory-region = "SRAM012";
		};

		sram3_cahb: memory@c18000 {
			compatible = "zephyr,memory-region";
			reg = <0xC18000 DT_SIZE_K(32)>;
			zephyr,memory-region = "SRAM3CAHB";
		};

		sram3_sahb: memory@20018000 {
			compatible = "zephyr,memory-region";
			reg = <0x20018000 DT_SIZE_K(32)>;
			zephyr,memory-region = "SRAM3SAHB";
		};

		pinctrl: pin-controller@400cc000 {
			compatible = "ti,msp-pinctrl";
			reg = <0x400cc000 DT_SIZE_K(16)>;
		};

		gpio0: gpio@400f0000 {
			compatible = "ti,msp-gpio";
			reg = <0x400f0000 DT_SIZE_K(8)>;
			interrupts = <4 0>;
			#gpio-cells = <2>;
			gpio-controller;
		};

		gpio1: gpio@400f2000 {
			compatible = "ti,msp-gpio";
			reg = <0x400f2000 DT_SIZE_K(8)>;
			interrupts = <5 0>;
			#gpio-cells = <2>;
			gpio-controller;
		};

		gpio2: gpio@400f4000 {
			compatible = "ti,msp-gpio";
			reg = <0x400f4000 DT_SIZE_K(8)>;
			interrupts = <6 0>;
			#gpio-cells = <2>;
			gpio-controller;
		};

		gpio3: gpio@400f6000 {
			compatible = "ti,msp-gpio";
			reg = <0x400f6000 DT_SIZE_K(8)>;
			interrupts = <7 0>;
			#gpio-cells = <2>;
			gpio-controller;
		};

		unicomm0: unicomm@40630000 {
			reg = <0x40630000 DT_SIZE_K(8)>;
			interrupts = <34 0>;
			#address-cells = <1>;
			#size-cells = <1>;

			unicomm0_uart: unicomm0_uart@40600000 {
				compatible = "ti,msp-uart";
				interrupts = <34 0>;
				reg = <0x40600000 DT_SIZE_K(4)>;
				status = "disabled";
			};
		};

		unicomm1: unicomm@40632000 {
			reg = <0x40632000 DT_SIZE_K(8)>;
			interrupts = <35 0>;
			#address-cells = <1>;
			#size-cells = <1>;

			unicomm1_uart: unicomm1_uart@40601000 {
				compatible = "ti,msp-uart";
				interrupts = <35 0>;
				reg = <0x40601000 DT_SIZE_K(4)>;
				status = "disabled";
			};
		};

		unicomm2: unicomm@40634000 {
			reg = <0x40634000 DT_SIZE_K(8)>;
			interrupts = <36 0>;
			#address-cells = <1>;
			#size-cells = <1>;

			unicomm2_uart: unicomm2_uart@40602000 {
				compatible = "ti,msp-uart";
				interrupts = <36 0>;
				reg = <0x40602000 DT_SIZE_K(4)>;
				status = "disabled";
			};
		};

		unicomm3: unicomm@40670000 {
			reg = <0x40670000 DT_SIZE_K(8)>;
			interrupts = <37 0>;
			#address-cells = <1>;
			#size-cells = <1>;

			unicomm3_uart: unicomm3_uart@40640000 {
				compatible = "ti,msp-uart";
				interrupts = <37 0>;
				reg = <0x40640000 DT_SIZE_K(4)>;
				status = "disabled";
			};
		};

		unicomm4: unicomm@40672000 {
			reg = <0x40672000 DT_SIZE_K(8)>;
			interrupts = <38 0>;
			#address-cells = <1>;
			#size-cells = <1>;

			unicomm4_uart: unicomm4_uart@40641000 {
				compatible = "ti,msp-uart";
				interrupts = <38 0>;
				reg = <0x40641000 DT_SIZE_K(4)>;
				status = "disabled";
			};
		};

		unicomm5: unicomm@40674000 {
			reg = <0x40674000 DT_SIZE_K(8)>;
			interrupts = <39 0>;
			#address-cells = <1>;
			#size-cells = <1>;

			unicomm5_uart: unicomm5_uart@40642000 {
				compatible = "ti,msp-uart";
				interrupts = <39 0>;
				reg = <0x40642000 DT_SIZE_K(4)>;
				status = "disabled";
			};
		};
	};
};

&nvic {
	arm,num-irq-priority-bits = <4>;
};
