/*
 * Copyright (c) 2026 Texas Instruments Incorporated
 *
 * SPDX-License-Identifier: Apache-2.0
 */

#include <zephyr/dt-bindings/pinctrl/msp-pinctrl.h>
#include <zephyr/dt-bindings/gpio/gpio.h>

/ {
	aliases {
		led0 = &led0;
		led1 = &led1;
	};

	chosen {
		zephyr,console = &unicomm0_uart;
	};

	leds {
		compatible = "gpio-leds";

		led0: led_0 {
			gpios = <&gpio0 5 GPIO_ACTIVE_LOW>;
			label = "LED4";
		};

		led1: led_1 {
			gpios = <&gpio0 7 GPIO_ACTIVE_LOW>;
			label = "LED5";
		};
	};
};

&gpio0 {
	status = "okay";
};

&pinctrl {
	status = "okay";

	pb4_uc0_tx_sda_pico: pb4_uc0_tx_sda_pico {
		pinmux = <TI_AM13E_PINMUX(1, 4, 8)>;
	};

	pb5_uc0_rx_scl_sclk: pb5_uc0_rx_scl_sclk {
		pinmux = <TI_AM13E_PINMUX(1, 5, 8)>;
		input-enable;
	};
};

&unicomm0_uart {
	status = "okay";
	current-speed = <115200>;

	pinctrl-0 = <&pb4_uc0_tx_sda_pico &pb5_uc0_rx_scl_sclk>;
	pinctrl-names = "default";
};
