# SPDX-License-Identifier: Apache-2.0
# Copyright (c) 2025 Texas Instruments
# Copyright (c) 2025 Linumiz

config UART_MSP
	bool "MSP UART driver"
	default y
	depends on DT_HAS_TI_MSP_UART_ENABLED
	select SERIAL_HAS_DRIVER
	select SERIAL_SUPPORT_INTERRUPT
	select PINCTRL
	help
	  This option enables the TI MSP family UART driver.
